.WhereToUse {
    display: flex;
    flex-direction: column;
    flex-basis: 1.5;
    align-items: center;
    margin-top: 4rem;
}

.WhereToUse h1 {
    display: block;
    width: 100%;
    height: 150px;
    margin-bottom: 50px;
    background: url("/where\ to\ use\ our\ products.jpg") no-repeat center center/100% 100%;
}

.WhereToUseCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    margin: 30px 0;
}

.WhereToUseCard img {
    width: 100%;
    height: 500px;
    box-shadow: 1px 1px 5px black;
}

.WhereToUseCard p {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 30px;
}

.WhereToUseCard a {
    color: rgb(0, 0, 129);
}

.WhereToUseCard a:hover {
    color: var(--logo-color);
    background-color: rgb(53, 53, 90);
}

@media screen and (max-width: 550px) {
    div.WhereToUseCard {
        width: calc(100vw - 8px);
        margin: 20px 4px;
        border: 4px solid black;
    }

    div.WhereToUse h1 {
        height: 80px;
        margin-bottom: 20px;
    }

    div.WhereToUseCard img {
        width: 100%;
        height: 350px;
    }

    div.WhereToUseCard p {
        width: 100%;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 780px) {
    .WhereToUseCard {
        width: 550px;
    }

    .WhereToUseCard img {
        width: 500px;
        height: 500px;
    }

    .WhereToUseCard p {
        width: 500px;
    }
}


@media screen and (max-width: 900px) {
    .WhereToUseCard {
        width: 700px;
    }
}
