.Menu {
    width: 64px;
    height: 64px;
    transition: all .4s;
}

.Menu:active {
    transform: scale(1.1);
}

.MenuBackDrop {
    position: absolute;
    top: 40px;
    right: 25px;
    width: 64px;
    height: 64px;
    z-index: 20;
    transition: all .4s;
}

.MenuBackDrop:active {
    transform: scale(1.1) !important;
}

@media screen and (min-width: 768px) {
    .Menu,.MenuBackDrop {
        display: none;
    }
}