.card {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
}

.card:hover {
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
}

.card p {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    margin-top: -1.5rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}