.NavBarItem {
    display: inline-block;
    margin: 1rem;
    overflow: hidden;
}

.NavBarItemLink {
    padding: 0.5rem;
    font-size: 1.3rem;
    color: black;
    transition: 0.2s;
    overflow: hidden;
}

.NavBarItemLink:hover,
.NavBarItemLinkActive {
    background: black;
    color: var(--logo-color);
}