@import "~react-image-gallery/styles/css/image-gallery.css";

html,
body {
  padding: 0;
  margin: 0;
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #f5f5f5;
  /* background: linear-gradient(to right top, #959e95c9, #abff048e); */
  overflow-x: hidden;
}

:root {
  /* #82C7D6 */
  /* c4ff0f */
  --logo-color: #82C7D6;
  --primary-color: var(--logo-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.image-gallery-left-nav:hover,
.image-gallery-right-nav:hover{
  color: var(--logo-color);
}

@media screen and (max-width: 450px) {

  .image-gallery-slide {
    border-top: 2px solid black;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
  }

  .image-gallery-image {
    height: 500px !important;
    object-fit: initial !important;
  }
}